// Specific style for home page
@use "../main.scss";
@import "../abstracts/mixins";

// FIRST SECTION STYLE
.deliver {
  margin-top: 72px;
  background: url("../../assets/images/Home/banner-bg.png") center center
    no-repeat;
  background-size: cover;
  &__container {
    padding-top: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 30%;
      @include media(570px) {
        display: none;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 150%;
      color: #414141;
      max-width: 751px;
      @include media(768px) {
        font-size: 24px;
      }
      @include media(400px) {
        font-size: 18px;
      }
    }
  }
}
// FIRST SECTION STYLE

// SECOND SECTION STYLE
.discount {
  &__title {
    margin-top: 80px;
    @extend %df-main;
    h2 {
      @extend %left-title;
      @include media(400px) {
        font-size: 24px;
        line-height: 150%;
      }
    }
    a {
      @extend %df-main;
      gap: 10px;
      @extend %right-info;
      img {
        transition: 0.3s ease-out;
      }
      &:hover {
        color: rgb(72, 182, 72);
        img {
          transform: translateX(20px);
        }
      }
    }
  }

  &__wrapper {
    margin-top: 40px;
    display: flex !important;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    .card {
      margin: 0 auto;
      padding: 8px;
      overflow: hidden;
      position: relative;
      @extend %df-col-main;
      max-width: 272px;
      max-height: 380px;
      background-color: #fff;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      &:hover {
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
        .container__heart {
          right: 10px;
        }
      }
      img {
        width: 100%;
      }

      .container__heart {
        display: block;
        position: absolute;
        top: 10px;
        right: -40px;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        transition: 100ms;
        background: #f3f2f1d8;
        transition: 0.3s ease-out;
        border-radius: 4px;
        padding: 5px;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkmark {
          top: 0;
          left: 0;
          height: 1.5em;
          width: 1.5em;
          transition: 100ms;
          animation: dislike_effect 400ms ease;
        }
        input:checked ~ .checkmark path {
          fill: #ff5353;
          stroke-width: 0;
        }
        input:checked ~ .checkmark {
          animation: like_effect 400ms ease;
        }
      }
      @keyframes like_effect {
        0% {
          transform: scale(0);
        }

        50% {
          transform: scale(1.2);
        }

        100% {
          transform: scale(1);
        }
      }
      @keyframes dislike_effect {
        0% {
          transform: scale(0);
        }

        50% {
          transform: scale(1.2);
        }

        100% {
          transform: scale(1);
        }
      }
      .discount_percent {
        padding: 4px 8px;
        position: absolute;
        top: 35%;
        left: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        background: #ff6633;
        border-radius: 4px;
      }
      .percent {
        background: #70c05b;
      }

      .price {
        margin-top: 8px;
        @extend %df-main;
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: #414141;
        }
        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #606060;
        }
      }
      .price_info {
        @extend %df-main;
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          color: #bfbfbf;
        }
      }
      .main_info {
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #414141;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .rating {
        display: flex;
        margin-top: 8px;
        img {
          width: 20px;
        }
        .fa {
          color: #ff6633;
        }
      }
      button {
        margin-top: 4px;
        width: 100%;
        position: relative;
        padding: 12px 35px;
        background: #fec195;
        font-size: 17px;
        font-weight: 500;
        color: #181818;
        border: 3px solid #fec195;
        border-radius: 8px;
        box-shadow: 0 0 0 #fec1958c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &.sendtocart {
          .cart-item {
            display:block;
            animation: xAxis 1s forwards cubic-bezier(1.000,0.440,0.840,0.165);
            &:before {
              animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.840, 0.440, 1.000);
            }
          }
        }
      }

      .star-1 {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 0 #ffff);
        z-index: -5;
        transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
      }

      .star-2 {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-3 {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-4 {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-5 {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-6 {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s ease;
      }

      button:hover {
        background: transparent;
        color: #fec195;
        box-shadow: 0 0 25px #fec1958c;
      }

      button:hover .star-1 {
        position: absolute;
        top: -80%;
        left: -30%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-2 {
        position: absolute;
        top: -25%;
        left: 10%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-3 {
        position: absolute;
        top: 55%;
        left: 25%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-4 {
        position: absolute;
        top: 30%;
        left: 80%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-5 {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-6 {
        position: absolute;
        top: 5%;
        left: 60%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      .fil0 {
        fill: #ee820e;
      }
      .shop_cart {
        margin-top: 8px;
        padding: 8px;
        outline: none;
        border: none;
        background: transparent;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #70c05b;
        border: 1px solid #70c05b;
        border-radius: 4px;
        transition: 0.3s ease-out;
        &:hover {
          background-color: #ff6633;
          color: #fff;
          border: 1px solid #ff6633;
        }
      }
    }
  }
}
// SECOND SECTION STYLE

.app {
  margin-top: 120px;
  h2 {
    @extend %left-title;
    @include media(400px) {
      font-size: 24px;
      line-height: 150%;
    }
  }
  &__box {
    margin-top: 40px;
    @extend %df-main;
    gap: 40px;
    @include media(700px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .box {
      overflow: hidden;
      position: relative;
      padding: 30px 40px;
      @extend %df-main;
      gap: 21px;
      background: #fcd5ba;
      border-radius: 4px;
      width: 100%;
      transition: 0.3s ease-out;
      @include media(400px) {
        padding: 10px 20px;
        margin: 0 14px;
      }
      &:hover {
        box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
      }
      img {
        filter: drop-shadow(0px 8px 47px rgba(200, 90, 53, 0.51));
      }
      &__info {
        h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          color: #414141;
          @include media(400px) {
            font-size: 15px;
            line-height: 150%;
          }
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #414141;
          @include media(400px) {
            font-size: 12px;
            line-height: 150%;
          }
        }
        max-width: 258px;
      }
    }
    .second_box {
      background: url("../../assets/images/Home/home-card-images/app-card-2nd-bg.png")
        center center no-repeat;
      background-size: cover;
      max-width: 584px;
    }
  }
}

.stati {
  &__card_box {
    margin-top: 40px;
    @extend %df-main;
    @include media(600px) {
      flex-direction: column;
    }
    gap: 32px;
    .card {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-width: 376px;
      background: #ffffff;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      transition: 0.3s ease-out;
      &:hover {
        transform: scale(1.005);
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
      }
      img {
        width: 100%;
      }
      .date {
        padding: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #8f8f8f;
      }
      h4 {
        padding: 10px;
        margin-top: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #414141;
        @include media(768px) {
          font-size: 16px;
          line-height: 150%;
        }
      }
      p {
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #414141;
        @include media(768px) {
          font-size: 12px;
          line-height: 150%;
        }
      }
      button {
        position: relative;
        width: 56%;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 12px 35px;
        background: #fec195;
        font-size: 17px;
        font-weight: 500;
        color: #181818;
        border: 3px solid #fec195;
        border-radius: 8px;
        box-shadow: 0 0 0 #fec1958c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      .star-1 {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
      }

      .star-2 {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-3 {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-4 {
        position: absolute;
        top: 20%;
        left: 40%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-5 {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
      }

      .star-6 {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 0 #fffdef);
        z-index: -5;
        transition: all 0.8s ease;
      }

      button:hover {
        background: transparent;
        color: #fec195;
        box-shadow: 0 0 25px #fec1958c;
      }

      button:hover .star-1 {
        position: absolute;
        top: -80%;
        left: -30%;
        width: 25px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-2 {
        position: absolute;
        top: -25%;
        left: 10%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-3 {
        position: absolute;
        top: 55%;
        left: 25%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-4 {
        position: absolute;
        top: 30%;
        left: 80%;
        width: 8px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-5 {
        position: absolute;
        top: 25%;
        left: 115%;
        width: 15px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      button:hover .star-6 {
        position: absolute;
        top: 5%;
        left: 60%;
        width: 5px;
        height: auto;
        filter: drop-shadow(0 0 10px #fffdef);
        z-index: 2;
      }

      .fil0 {
        fill: #fffdef;
      }
      .card_btn {
        margin: 10px 10px;
        padding: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        background: #e5ffde;
        border-radius: 4px;
        color: #70c05b;
        max-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #fff;
          background: #70c05b;
        }
      }
    }
  }
}


@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}


// .quantity {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
// }
// .quantity__minus,
// .quantity__plus {
//   display: block;
//   width: 35px;
//   height: 56px;
//   margin: 0;
//   background: green;
//   text-decoration: none;
//   text-align: center;
//   line-height: 23px;
// }
// .quantity__minus:hover,
// .quantity__plus:hover {
//   background: #575b71;
//   color: #fff;
// } 
// .quantity__minus {
//   border-radius: 3px 0 0 3px;
// }
// .quantity__plus {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 0 3px 3px 0;
// }
// .quantity__input {
//   width: 35px;
//   height: 50px;
//   margin: 0;
//   padding: 0;
//   text-align: center;
//   border-top: 2px solid #dee0ee;
//   border-bottom: 2px solid #dee0ee;
//   border-left: 1px solid #dee0ee;
//   border-right: 2px solid #dee0ee;
//   background: #fff;
//   color: #8184a1;
// }
// .quantity__minus:link,
// .quantity__plus:link {
//   color: #8184a1;
// } 
// .quantity__minus:visited,
// .quantity__plus:visited {
//   color: #fff;
// }

.quantity-field{
  display: none;
}

.card{
  // .btn_main{
  //   display: none;
  // }
  .quantity-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 40px;
    margin: 5px auto;
    animation-name: bottom-to-top;
    animation-duration: 1s;
    // border: 1px solid red;    
  }
  
  .quantity-field .value-button{ 
    margin-top: 20px;
    border: 1px solid #ddd;
    margin: 0px;
    width: 100%;
    height: 100%;   
    padding: 0;
    background: #4ee334; 
    outline: none;
    cursor: pointer;
  }
  
  .quantity-field .value-button:hover {
    background: rgb(96, 189, 29);
  }
  
  .quantity-field .value-button:active{
    background: rgb(53, 221, 61);
  }
  
  .quantity-field .decrease-button {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  .quantity-field .increase-button {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
   
  .quantity-field .number{
    display: inline-block;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 120px;
    height: 100%;
    line-height: 40px;
    font-size: 11pt;
    box-sizing: border-box; 
    background: rgb(211, 214, 212);
    font-family: calibri;
  }
  
  .quantity-field .number::selection{
    background: none;
  }
  @keyframes  bottom-to-top {
    0%{
      transform: translateY(110px);
    }
    100%{
      transform: translateY(0);
    }
    
  }

}