@import "../main.scss";

.jobs {
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    color: #414141;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include media(900px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(600px){
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .box {
        @include media(600px){
            margin: 0 auto;
        }
      padding: 32px;
      background: #fff;
      max-width: 376px;
      min-height: 550px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      transition: .3s ease-out;
      &:hover{
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
      }
      h2 {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #414141;
      }
      h6 {
        margin-top: 16px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #414141;
      }
      p {
        margin-top: 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #414141;
      }
      span {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
