// Footer
.footer {
    padding: 24px 0;
    margin-top: 140px;
    background: url("../../assets/images/Home/home-card-images/footer-bg.png")
      center center no-repeat;
    background-size: cover;
    @include media(550px){
      margin-bottom: 50px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media(400px){
        align-items: flex-start
      }
    }
    &__left {
      @extend %df-main;
      @include media(768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
      }
      @include media(400px){
        grid-template-columns: 1fr;
      }
      gap: 40px;
      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #414141;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 40px;
      @include media(768px){
        gap: 10px;
      }
      @include media(400px){
        flex-wrap: wrap;
      }
      .socials {
        display: flex;
        @include media(768px){
          flex-direction: column;
          gap: 10px;
        }
        .half{
          display: flex;
        }
        img{
          margin-right: 16px
        };
      }
      .phone{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        span{
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }