.check_box {
  position: fixed;
  top: 150px;
  right: 40px;
  z-index: 15;
  label,
  .bubble {
    display: block;
    -webkit-tap-highlight-color: transparent;
  }

  label {
    animation: float74 4s ease-in-out infinite;
  }

  .bubble,
  .bubble:before,
  .bubble:after {
    transition-duration: 0.2s;
  }

  .bubble,
  .bubble:after {
    border-radius: 50%;
  }

  .bubble {
    background-image: radial-gradient(
        8% 8% at 22% 28%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 23% 27%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 24% 26%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 25% 25%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 26% 24%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 27% 23%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      ),
      radial-gradient(
        8% 8% at 28% 22%,
        hsl(0, 0%, 100%) 45%,
        hsla(0, 0%, 100%, 0) 50%
      );
    box-shadow: 0 -0.06em 0.1em hsl(0, 90%, 100%) inset,
      0 -0.15em 0.4em hsl(0, 90%, 45%) inset,
      0 0.05em 0.05em hsl(0, 90%, 45%) inset,
      0.05em 0 0.1em hsl(0, 90%, 100%) inset,
      -0.05em 0 0.1em hsl(0, 90%, 100%) inset,
      0 0.1em 0.4em hsl(0, 90%, 60%) inset;
    cursor: pointer;
    position: relative;
    width: 3em;
    height: 3em;
    transform-style: preserve-3d;
    transition-property: box-shadow, transform, width, height;
    transition-timing-function: ease-in-out, ease-in-out, var(--bubbleTiming),
      var(--bubbleTiming);
    will-change: transform;
    -webkit-appearance: none;
    appearance: none;
    z-index: 0;
  }

  .bubble:before,
  .bubble:after {
    content: "";
    display: block;
    position: absolute;
    transition-timing-function: var(--bubbleTiming);
  }

  .bubble:before {
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.5em hsl(0, 0%, 100%) inset;
    filter: drop-shadow(0.6em 0.6em 4px hsla(0, 0%, 0%, 0.2));
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translate3d(-50%, -50%, -1px);
    z-index: -1;
  }

  .bubble:after {
    background: radial-gradient(
      100% 100% at center,
      hsla(0, 0%, 0%, 0) 35%,
      hsla(0, 0%, 0%, 0.2) 48%,
      hsla(0, 0%, 0%, 0) 50%
    );
    filter: blur(4px);
    top: 0.6em;
    left: 0.6em;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, -1px);
    z-index: -2;
  }

  .bubble:focus,
  .bubble:hover {
    transform: scale(1.1);
    outline: none;
  }

  .bubble:focus:active,
  .bubble:hover:active {
    width: 3.6em;
    height: 2.4em;
  }

  .bubble:focus:before,
  .bubble:hover:before {
    filter: drop-shadow(0.75em 0.75em 4px hsla(0, 0%, 0%, 0.2));
  }

  .bubble:focus:after,
  .bubble:hover:after {
    transform: translate3d(0.15em, 0.15em, -1px);
  }

  .bubble:checked {
    box-shadow: 0 -0.06em 0.1em hsl(120, 90%, 100%) inset,
      0 -0.15em 0.4em hsl(120, 90%, 45%) inset,
      0 0.05em 0.05em hsl(120, 90%, 45%) inset,
      0.05em 0 0.1em hsl(120, 90%, 100%) inset,
      -0.05em 0 0.1em hsl(120, 90%, 100%) inset,
      0 0.1em 0.4em hsl(120, 90%, 60%) inset;
  }

  .bubble:checked:before {
    border-radius: 0.25em;
    width: 0.5em;
  }
  /* Reduced motion */
  @media (prefers-reduced-motion: reduce) {
    label {
      animation: none;
    }

    .bubble,
    .bubble:before,
    .bubble:after {
      transition-duration: 0s;
    }

    .bubble:focus,
    .bubble:hover {
      transform: scale(1);
    }

    .bubble:focus:active,
    .bubble:hover:active {
      width: 3em;
      height: 3em;
    }

    .bubble:focus:before,
    .bubble:hover:before {
      filter: drop-shadow(0.6em 0.6em 4px hsla(0, 0%, 0%, 0.2));
    }

    .bubble:focus:after,
    .bubble:hover:after {
      transform: translate3d(0, 0, -1px);
    }
  }
  /* Animations */
  @keyframes float74 {
    from,
    to {
      transform: translate(0, 5%);
    }

    25% {
      transform: translate(-3%, 0);
    }

    50% {
      transform: translate(0, -3%);
    }

    75% {
      transform: translate(5%, 0);
    }
  }
}

body.dark {
  background: url("../../assets/images/dark-mode-body-bg.png") center center
    no-repeat;
  background-size: cover;

  .header {
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(
        162deg,
        rgba(0, 24, 36, 0.571) 7%,
        rgba(68, 3, 68, 1) 49%,
        rgba(8, 11, 108, 0.215) 93%,
        rgba(9, 9, 121, 0.575) 100%,
        rgba(0, 213, 255, 0.565) 100%
      ),
      url("../../assets/images/dark-mode/nav-bg.png");

    .header__nav {
      ul {
        li {
          a {
            img {
              filter: invert(1);
            }
            &:hover {
              img {
                filter: grayscale(100%) sepia(100%) hue-rotate(0deg)
                  saturate(10000%) brightness(100%) contrast(100%);
              }
            }
            color: #fff;
          }
        }
      }
      .user_info {
        color: #fff;
      }
      .user_dropdown {
        filter: invert(1);
      }
    }
    .logo {
      filter: invert(1);
    }
    .search_icon {
      filter: invert(1);
    }
    .search_input {
      background: #0000003e;
      color: #fff;
    }
  }
}

// first section
body.dark {
  .deliver {
    margin-top: 50px;
    background: url("../../assets/images/dark-mode/pattern2.svg") center center
        no-repeat,
      url("../../assets/images/dark-mode/nav-bg.png");
    background-size: cover;
    background-position: center center;
    @include media(550px) {
      margin-top: 70px;
    }
    h1 {
      color: #feb454;
    }
  }
}




// second section
body.dark {
  .discount {
    &__title {
      img {
        filter: invert(1);
      }
      h2,
      a {
        transition: 0.3s ease-out;
        color: #fff;
        &:hover {
          color: greenyellow;
        }
      }
    }
    &__wrapper {
      .card {
        background: #3f3f3f;
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgb(219, 126, 33);
        .container__heart {
          background: #527680b0;
        }
        .star-1 {
          position: absolute;
          top: 20%;
          left: 20%;
          width: 25px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
        }
        
        .star-2 {
          position: absolute;
          top: 45%;
          left: 45%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
        }
        
        .star-3 {
          position: absolute;
          top: 40%;
          left: 40%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
        }
        
        .star-4 {
          position: absolute;
          top: 20%;
          left: 40%;
          width: 8px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
        }
        
        .star-5 {
          position: absolute;
          top: 25%;
          left: 45%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
        }
        
        .star-6 {
          position: absolute;
          top: 5%;
          left: 50%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 0 #fffdef);
          z-index: -5;
          transition: all .8s ease;
        }
        
        button:hover {
          background: transparent;
          color: #FEC195;
          box-shadow: 0 0 25px #fec1958c;
        }
        
        button:hover .star-1 {
          position: absolute;
          top: -80%;
          left: -30%;
          width: 25px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        button:hover .star-2 {
          position: absolute;
          top: -25%;
          left: 10%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        button:hover .star-3 {
          position: absolute;
          top: 55%;
          left: 25%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        button:hover .star-4 {
          position: absolute;
          top: 30%;
          left: 80%;
          width: 8px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        button:hover .star-5 {
          position: absolute;
          top: 25%;
          left: 115%;
          width: 15px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        button:hover .star-6 {
          position: absolute;
          top: 5%;
          left: 60%;
          width: 5px;
          height: auto;
          filter: drop-shadow(0 0 10px #fffdef);
          z-index: 2;
        }
        
        .fil0 {
          fill: #FFFDEF
        }
        .price {
          p {
            color: #feb454;
          }
          span {
            color: #fff;
          }
        }
        .main_info {
          color: #fff;
        }
      }
    }
  }
}

body.dark {
  .app {
    h2 {
      color: #fff;
    }
  }
  .map {
    h2 {
      color: #fff;
    }
    .ap-tab-link {
      background: #3f3f3f;
      box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(2px);
      border-radius: 10px;
    }
  }
  .stati {
    .card {
      border: 1px solid #feb454;
      background: #3f3f3f;
      box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(2px);
      border-radius: 10px;
      .date{
        color: #fff;
      }
      h4{
        color: #feb454;
      }
      p{
        color: #fff;
      }
    }
  }
}



body.dark{
    .footer{
        border-top: 2px solid green;
        border-radius: 25px 25px 0px 0px;
        background: url('../../assets/images/dark-mode/nav-bg.png');
        .footer__left{
            img{
                filter: invert(1);
            }
            a{
                color: #fff;
                &:hover{
                    color: orange;
                }
            }
        }
        .phone{
            img{
                filter: invert(1);
            }
            span{
                color: #fff;
            }
        }
    }
}

