// SCSS Placeholders
@use "classes";
// Forms
%reset-input {
  background: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

%main-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
  color: $surface-text;
}

%left-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 150%;
  color: $surface-text;
}

//flex-box
%df-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%df-col-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Buttons
%bt-style {
  background: #70c05b;
  border-radius: 4px;
}
